In [2]:
# Project 2: Page Rank
# Melisa Carranza
# Sebastián Ramírez

#conda install -c https://conda.anaconda.org/bioconda mysqlclient
#requires above driver for Python 3

import sqlalchemy as sql
import pandas as pd
import numpy as np

engine = sql.create_engine('mysql://CSC322622:secretsauce@10.104.251.10/wfulinks', echo=False)
links = pd.read_sql_query('SELECT * FROM links', engine)
urls = pd.read_sql_query('SELECT * FROM URLs', engine)

In [3]:
beta = 0.8
N = links.shape[0]
addition = (1.0-beta)/N
m = pd.DataFrame(0, index=urls['ID'], columns=urls['ID'])

outLinks = pd.DataFrame(0, columns=['count'], index=urls['ID'])

def calculateOutLinks(link):
    origin = link['fromlink']
    outLinks['count'][origin] += 1

links.apply(calculateOutLinks, axis=1)

outLinks

      count
ID
2181      0
2183      0
2182      0
2180      0
2184      0
2179      0
1793      0
2710      0
3276      0
1393      0
29        0
1137      0
173       0
1721      0
1907      0
3314      0
3229      0
3242      0
3812      0
3813      0
3230      0
1870      0
3        22
41       22
50       25
43       22
37       22
44       22
48       22
42       22
...     ...
3709      0
207       1
208       1
3706      0
3710      0
3708      0
3457      0
2646      0
3058      0
1167      0
147       5
3734      0
3848      0
1215      0
441       0
1753      0
1867      0
2151      0
130       3
1758      0
719       0
721       0
3728      0
754       0
885       0
876       0
2583      0
866       0
854       0
281       0

[3848 rows x 1 columns]

In [17]:
def calculateM(link):
    i = link['fromlink']
    j = link['tolink']
    m.ix[j,i] = beta/outLinks['count'][i] + addition

links.apply(calculateM, axis=1)

m

11421

In [23]:
r = pd.DataFrame(1.0/N, columns=['count'], index=urls['ID'])
r

         count
ID
2181  0.333333
2183  0.333333
2182  0.333333
2180  0.333333
2184  0.333333
2179  0.333333
1793  0.333333
2710  0.333333
3276  0.333333
1393  0.333333
29    0.333333
1137  0.333333
173   0.333333
1721  0.333333
1907  0.333333
3314  0.333333
3229  0.333333
3242  0.333333
3812  0.333333
3813  0.333333
3230  0.333333
1870  0.333333
3     0.333333
41    0.333333
50    0.333333
43    0.333333
37    0.333333
44    0.333333
48    0.333333
42    0.333333
...        ...
3709  0.333333
207   0.333333
208   0.333333
3706  0.333333
3710  0.333333
3708  0.333333
3457  0.333333
2646  0.333333
3058  0.333333
1167  0.333333
147   0.333333
3734  0.333333
3848  0.333333
1215  0.333333
441   0.333333
1753  0.333333
1867  0.333333
2151  0.333333
130   0.333333
1758  0.333333
719   0.333333
721   0.333333
3728  0.333333
754   0.333333
885   0.333333
876   0.333333
2583  0.333333
866   0.333333
854   0.333333
281   0.333333

[3848 rows x 1 columns]

In [23]:
# TEST
N = 3
m = pd.DataFrame({'y': np.array([0.5, 0.5, 0]), 'a': np.array([0.5, 0, 0]), 'm': np.array([0, 0.5, 1])})
r = pd.DataFrame(1.0/N, columns=[0], index=['a', 'm', 'y'])
print(m)
print(r)

     a    m    y
0  0.5  0.0  0.5
1  0.0  0.5  0.5
2  0.0  1.0  0.0
          0
a  0.333333
m  0.333333
y  0.333333

In [33]:
converged = False
oldR = pd.DataFrame(0, columns=[0], index=[0,1,2])
#oldR = pd.DataFrame(0, columns=['count'], index=urls['ID'])

#while(not converged):
oldR = r
r = np.dot(m,r)
r = r*0.8
difference = r-oldR
if (difference > 0.05).sum()== N:
    converged = True

print (r)
print ((difference > 0.05).sum())

[[ 0.03579139]
 [ 0.03579139]
 [ 0.03579139]]
[[ 0.04473924]
 [ 0.04473924]
 [ 0.04473924]]